<section class="contacts">
    <header class="h2">
        <h2>Контакты</h2>
    </header>
    <table class="contacts_info">
        <tbody class="contacts_info_body">
            <tr class="contacts_info_body_phones">
                <th>Телефон:</th>
                <td>
                    @@include('../../../components/_phones.html', {})
                </td>
            </tr>
            <tr>
                <th>Адрес:</th>
                <td>г. Москва ул. Трифоновская, 55</td>
            </tr>
            <tr class="contacts_info_body_email">
                <th>Email:</th>
                <td><a href="mailto:denta-line@mail.ru">denta-line@mail.ru</a></td>
            </tr>
            <tr class="contacts_info_body_schedule">
                <th>График работы:</th>
                <td>
                    <span>ПН-ПТ: с 9:00 до 21:00</span>
                    <span>СБ: с 9:00 до 21:00</span>
                    <span>ВС: выходной</span>
                </td>
            </tr>
        </tbody>
    </table>
</section>