@font-face {
  font-family: "Pacifico";
  font-display: swap;
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf2") format("woff2"), url("../fonts/Pacifico/Pacifico-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Miama_Nueva";
  font-display: swap;
  src: url("../fonts/Miama_Nueva/Miama_Nueva.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  unicode-range: U+00-FF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style-type: none;
}

:root {
  --page-background: rgba(0, 180, 228, 0.1);
  --main_font-family: "Roboto", sans-serif;
  --small-fz: 16px;
  --normal-fz: 18px;
  --big-fz: 22px;
  --h2-fz: 40px;
  --h3-fz: 24px;
  --container-padding: 25px;
  --section_gap: 30px;
  --main_gap: calc(var(--section_gap) / 1.5);
  --li_active_before_top: 0;
  --border-radius: 8px;
  --team_swiper-padding: 25px;
  --team_slide-width: 150px;
  --team_swiper-gap: 0;
  --white: #fff;
  --black: #000;
  --gray: #aca1a1;
  --lightgray: #e5e5e5;
  --whitegray: #f7f7f7;
  --darkgray: #565656;
  --lightgreen: #8ec63f;
  --darkgreen: #267831;
  --blackgreen: #14601e;
  --red: #ff0000;
  --darkred: #b92426;
  --darkpink: #f55b72;
  --orange: #ed6a01;
  --darkorange: #ac560f;
  --darkblue: #00b4e4;
  --whitetiffany: #abdcdc;
  --tiffany: #0cb8b6;
}

.phones a,
.sitefooter_right_phones > div a,
.mobile_body_phones a,
.headerinfo_bottom_phones a {
  color: var(--white);
  font-family: var(--main_font-family);
  font-size: var(--big-fz);
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
  margin: 0;
}

.phones a span,
.sitefooter_right_phones > div a span,
.mobile_body_phones a span,
.headerinfo_bottom_phones a span {
  color: var(--red);
  font-family: var(--main_font-family);
  font-size: var(--big-fz);
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.logo_topheader,
.mobile_body_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_topheader img,
.mobile_body_logo img {
  width: 200px;
}

.stomatology-laboratory_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stomatology-laboratory_services li {
  width: 100%;
}

.stomatology-laboratory_services li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.stomatology-laboratory_services li a img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.stomatology-laboratory_services li a:hover {
  color: var(--white);
  background: var(--darkblue);
}

.appointment_to_doctor,
.topheader_appointment {
  padding: 15px 30px;
  color: var(--white);
  font-family: var(--main_font-family);
  font-size: var(--big-fz);
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: left;
  background: var(--darkpink);
  border-radius: var(--border-radius);
}

.appointment_to_doctor:hover,
.topheader_appointment:hover {
  border-radius: calc(var(--border-radius) + 10px);
}

.link,
.sitefooter_right_email a {
  color: var(--darkblue);
  text-decoration: underline;
}

.text_with_highlights_pink span {
  font-weight: 600;
  color: var(--darkpink);
}

.text_with_highlights span {
  font-weight: 600;
}

* {
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  font-family: var(--main_font-family);
  font-size: var(--normal-fz);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100dvh;
}

.main {
  background: var(--page-background);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  padding: 30px 0;
}

main.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 250px;
}

.none {
  display: none !important;
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  border: none;
  background: var(--darkblue);
  color: var(--white);
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  border-radius: var(--border-radius);
}

.btn:hover {
  background: rgba(0, 180, 228, 0.8);
}

h1 {
  font-family: var(--main_font-family);
  font-size: 30px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.h2,
.h2 h2 {
  color: var(--darkblue);
  margin-bottom: 30px;
  font-family: Ubuntu, sans-serif;
  font-size: var(--h2-fz);
  font-weight: 800;
  font-style: italic;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  font-family: var(--main_font-family);
  font-size: var(--h3-fz);
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: var(--darkpink);
  margin: 15px 0 20px 0;
}

section {
  margin-bottom: var(--section_gap);
}

a {
  cursor: pointer;
}

details[open] summary ~ * {
  -webkit-animation: sweep 0.8s ease-in-out;
          animation: sweep 0.8s ease-in-out;
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -50px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -50px;
  }

  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

ul.marker li {
  position: relative;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding-left: 25px;
}

ul.marker li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../img/marker.png");
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

ul.marker-disc li {
  list-style-position: inside;
  list-style-type: disc;
}

.headerinfo {
  background: var(--white);
  border-bottom: 1px solid var(--darkblue);
}

.headerinfo .container {
  padding: 20px var(--container-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.headerinfo_top p {
  color: var(--darkblue);
}

.headerinfo_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerinfo_bottom_address {
  color: var(--darkblue);
}

.headerinfo_bottom_address p {
  font-weight: 700;
}

.headerinfo_bottom_address p:nth-child(2) {
  color: var(--darkpink);
}

.headerinfo_bottom_schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.headerinfo_bottom_schedule p {
  text-align: center;
  margin: 0;
  color: var(--darkblue);
  font-weight: 700;
}

.headerinfo_bottom_schedule p span {
  display: block;
  color: var(--darkpink);
  font-weight: 700;
}

.headerinfo_bottom_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.headerinfo_bottom_phones a {
  color: var(--darkblue);
}

.topheader .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topheader_mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.topheader_mobile span {
  width: 40px;
  height: 5px;
  background: var(--darkblue);
}

.topheader_mobile span:nth-child(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--darkblue)), to(var(--darkpink)));
  background: linear-gradient(var(--darkblue), var(--darkpink));
}

.topheader_mobile span:nth-child(2) {
  background: var(--darkpink);
}

.topheader_mobile span:nth-child(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--darkpink)), to(var(--darkblue)));
  background: linear-gradient(var(--darkpink), var(--darkblue));
}

.topheader_logo {
  margin: 10px 0;
}

.topheader_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topheader_logo a span {
  display: block;
  color: var(--darkblue);
}

.topheader_logo a .topheader_logo_left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.topheader_logo a .topheader_logo_left span {
  font-family: var(--main_font-family);
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: right;
}

.topheader_logo a .topheader_logo_left span.title {
  font-family: var(--main_font-family);
  font-size: 1.5em;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.topheader_logo a .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 85px;
}

.topheader_logo a .line span {
  width: 2px;
  height: 25px;
  background: var(--darkpink);
}

.topheader_logo a .topheader_logo_right img {
  max-width: 150px;
}

.topheader_logo a .topheader_logo_right span {
  max-width: 150px;
  font-family: var(--main_font-family);
  font-size: 0.8em;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.topheader .headernav {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topheader .headernav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.topheader .headernav_ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 15px 30px;
  color: var(--darkblue);
  font-family: var(--main_font-family);
  font-size: var(--normal-fz);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.topheader .headernav_ul li a span {
  margin: auto;
  font-weight: 700;
}

.topheader .headernav_ul li.active,
.topheader .headernav_ul li:hover {
  background: var(--darkblue);
  border-radius: var(--border-radius);
}

.topheader .headernav_ul li.active a,
.topheader .headernav_ul li:hover a {
  color: var(--white);
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.mobile_body {
  position: relative;
  left: -400px;
  background: var(--white);
  width: 400px;
  height: 100%;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  overflow: auto;
}

.mobile_body_clouse {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mobile_body_navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.mobile_body_navigation ul li a {
  display: block;
  padding: 10px 30px 10px 0;
}

.mobile_body_schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.mobile_body_schedule p {
  margin: 0;
  color: var(--darkblue);
  font-weight: 700;
}

.mobile_body_schedule p span {
  display: block;
  color: var(--darkpink);
  font-weight: 700;
}

.mobile_body_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.mobile_body_phones a {
  color: var(--darkblue);
}

.appointment_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.appointment_modal_body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  margin: auto;
  padding: 30px;
  border-radius: var(--border-radius);
  background: var(--white);
  scale: 0.1;
  overflow: auto;
  max-height: 80vh;
}

.appointment_modal_body p {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.appointment_modal_body .h2 {
  text-align: center;
}

.appointment_modal_body.open {
  scale: 1;
}

.appointment_modal_body_clouse {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.appointment_modal_body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appointment_modal_body form input {
  margin-bottom: 15px;
  border: 1px rgba(172, 161, 161, 0.3) solid;
  padding: 10px 20px;
  min-width: 500px;
}

.appointment_modal_body form input:nth-child(4) {
  margin-bottom: 30px;
}

.appointment_modal_body form input[type=submit] {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}

.asidemenu_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.asidemenu_menu_item {
  min-width: 200px;
  border-radius: var(--border-radius);
}

.asidemenu_menu_item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--darkblue);
  padding-right: 15px;
  border-radius: var(--border-radius);
  overflow: hidden;
  cursor: pointer;
}

.asidemenu_menu_item > div img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.asidemenu_menu_item a,
.asidemenu_menu_item span {
  display: block;
  padding: 15px 30px 15px 20px;
  width: 100%;
}

.asidemenu_menu_item .active,
.asidemenu_menu_item a:hover {
  background: rgba(0, 180, 228, 0.8);
}

.asidemenu_menu_item_link {
  color: var(--white);
}

.asidemenu_menu_item .submenu {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.asidemenu_menu_item .submenu li a {
  background: rgba(0, 180, 228, 0.7);
  color: var(--white);
}

.asidemenu_menu_item .submenu li a:hover {
  background: rgba(0, 180, 228, 0.9);
}

.asidemenu_menu_item.active > div:has(span),
.asidemenu_menu_item:hover > div:has(span) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.asidemenu_menu_item.active > div:has(span) img,
.asidemenu_menu_item:hover > div:has(span) img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.asidemenu_menu_item.active > div:has(a),
.asidemenu_menu_item:hover > div:has(a) {
  border-radius: var(--border-radius);
}

.asidemenu_menu_item.active .submenu,
.asidemenu_menu_item:hover .submenu {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.sitefooter {
  background: var(--lightgray);
  padding: var(--container-padding) 0;
}

.sitefooter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sitefooter_left_copyright {
  font-family: var(--main_font-family);
  font-size: var(--small-fz);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 15px;
}

.sitefooter_left_address {
  margin-bottom: 15px;
}

.sitefooter_left_address a {
  color: var(--darkblue);
  font-family: var(--main_font-family);
  font-size: var(--normal-fz);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.sitefooter_left_address a:hover,
.sitefooter_left_address a:focus {
  text-decoration: underline;
}

.sitefooter_left > span {
  display: block;
  font-family: var(--main_font-family);
  font-size: var(--small-fz);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 10px;
}

.sitefooter_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.sitefooter_cards img {
  width: 58px;
  height: 34px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sitefooter_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.sitefooter_social a img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sitefooter_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sitefooter_right_phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sitefooter_right_phones img {
  width: 30px;
}

.sitefooter_right_phones > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.sitefooter_right_phones > div a {
  color: var(--darkblue);
}

@media (max-width: 1280px) {
  :root {
    --normal-fz: 17px;
  }

  .appointment_to_doctor,
  .topheader_appointment {
    padding: 12px 16px;
  }

  .headerinfo_bottom_address p {
    text-align: center;
  }

  .headerinfo_bottom_address {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .topheader .container {
    padding: 10px var(--container-padding);
  }

  .topheader_logo a .topheader_logo_left span {
    font-family: var(--main_font-family);
    font-size: 0.8em;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    text-align: right;
  }

  .topheader_logo a .topheader_logo_left span.title {
    font-family: var(--main_font-family);
    font-size: 1.2em;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: left;
  }

  .topheader_logo a .topheader_logo_right img {
    max-width: 100px;
  }

  .topheader_logo a .topheader_logo_right span {
    max-width: 100px;
    font-family: var(--main_font-family);
    font-size: 0.6em;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: left;
  }

  .topheader .headernav_ul li a {
    padding: 10px 16px;
  }
}

@media (max-width: 1024px) {
  .wrap {
    gap: 20px;
  }

  .headerinfo_bottom {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .headerinfo_bottom_schedule {
    display: none;
  }

  .headerinfo_bottom_phones {
    display: none;
  }

  .topheader_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .topheader_logo {
    display: none;
  }

  .topheader .headernav {
    display: none;
  }
}

@media (max-width: 768px) {
  .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .appointment_modal_body {
    width: 80%;
  }

  .appointment_modal_body form {
    width: 100%;
  }

  .appointment_modal_body form input {
    width: 100%;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }

  .sitefooter .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .sitefooter_right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .sitefooter_right_phones {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (max-width: 568px) {
  :root {
    --container-padding: 15px;
    --small-fz: 14px;
    --big-fz: 18px;
  }

  h1 {
    font-size: 34px;
  }

  .h2,
  .h2 h2 {
    font-size: 28px;
  }

  .mobile_body {
    width: 320px;
    left: -320px;
  }

  .appointment_modal_body {
    width: 90%;
  }
}

@media (max-width: 375px) {
  :root {
    --container-padding: 5px;
  }

  .headerinfo_bottom_address {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}