<section class="specialists">
    <header class="h2">
        <h2>Специалисты</h2>
    </header>
    <div class="specialists_list">
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist1.png" alt="">
            <div class="specialists_list_item_info">
                <h3>Маковка Ольга Викторовна</h3>
                <ul>
                    <li>Стоматолог - ортопед</li>
                </ul>
            </div>
        </div>
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist2.png" alt="">
            <div class="specialists_list_item_info">
                <h3>Киотина Наталья Евгеньевна</h3>
                <ul>
                    <li>Стоматолог - общей практики</li>
                </ul>
            </div>
        </div>
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist3.png" alt="">
            <div class="specialists_list_item_info">
                <h3>Донская Елена Александровна</h3>
                <ul>
                    <li>Стоматолог - терапевт</li>
                    <li>Стоматолог - хирург</li>
                </ul>
            </div>
        </div>
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist4.png" alt="">
            <div class="specialists_list_item_info">
                <h3>Антащян Вадим Георгиевич</h3>
                <ul>
                    <li>Стоматолог - терапевт</li>
                    <li>Стоматолог - ортопед</li>
                    <li>Стоматолог - хирург</li>
                    <li>Стоматолог - хирург имплантолог</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist5.png" alt="">
            <div class="specialists_list_item_info">
                <h3>Черемушкин Артем Николаевич</h3>
                <ul>
                    <li>Стоматолог - хирург</li>
                    <li>Стоматолог - хирург имплантолог</li>
                </ul>
            </div>
        </div>
    </div>
</section>