<section class="specialists">
    <header class="h2">
        <h2>Специалисты</h2>
    </header>
    <div class="specialists_list">
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist1.png" alt="">
            <div class="specialists_list_item_info">
                <p>Стоматология ортопедическая</p>
                <h3>Маковка <span>Ольга Викторовна</span></h3>
                <a href="" class="btn">Записаться к врачу</a>
            </div>
        </div>
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist2.png" alt="">
            <div class="specialists_list_item_info">
                <p>Стоматолог - общей практики</p>
                <h3>Киотина <span>Наталья Евгеньевна</span></h3>
                <a href="" class="btn">Записаться к врачу</a>
            </div>
        </div>
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist3.png" alt="">
            <div class="specialists_list_item_info">
                <p>Стоматология терапевтическая</p>
                <h3>Донская <span>Елена Александровна</span></h3>
                <a href="" class="btn">Записаться к врачу</a>
            </div>
        </div>
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist4.png" alt="">
            <div class="specialists_list_item_info">
                <p>Стоматология ортопедическая</p>
                <h3>Антащян <span>Вадим Георгиевич</span></h3>
                <a href="" class="btn">Записаться к врачу</a>
            </div>
        </div>
        <div class="specialists_list_item">
            <img src="@@pagesPath/img/specialist4.png" alt="">
            <div class="specialists_list_item_info">
                <p>Стоматология хирургическая</p>
                <h3>Черемушкин <span>Артем Николаевич</span></h3>
                <a href="" class="btn">Записаться к врачу</a>
            </div>
        </div>
    </div>
</section>