<section class="specialists">
    <header class="h2">
        <h2>Специалисты</h2>
    </header>
    <div class="specialists_list">
        <div class="specialists_list_item" data-page="makova">
            <img src="@@pagesPath/img/specialist1_real.webp" alt="">
            <div class="specialists_list_item_info">
                <p>стоматолог - ортопед</p>
                <h3>Маковка <span>Ольга Викторовна</span></h3>
                <a href="" class="btn appointment_btn-specialist" data-specialist="Маковка Ольга Викторовна">Записаться к врачу</a>
            </div>
        </div>
        <div class="specialists_list_item" data-page="kiotina">
            <img src="@@pagesPath/img/specialist2_real.jpg" alt="">
            <div class="specialists_list_item_info">
                <p>стоматолог - общей практики</p>
                <h3>Киотина <span>Наталья Евгеньевна</span></h3>
                <a href=""class="btn appointment_btn-specialist" data-specialist="Киотина Наталья Евгеньевна">Записаться к врачу</a>
            </div>
        </div>
        <div class="specialists_list_item" data-page="donskai">
            <img src="@@pagesPath/img/specialist3_real.jpg" alt="">
            <div class="specialists_list_item_info">
                <p>стоматолог - терапевт</p>
                <h3>Донская <span>Елена Александровна</span></h3>
                <a href="" class="btn appointment_btn-specialist" data-specialist="Донская Елена Александровна">Записаться к врачу</a>
            </div>
        </div>
        <div class="specialists_list_item" data-page="antashan">
            <img src="@@pagesPath/img/specialist4_real.jpg" alt="">
            <div class="specialists_list_item_info">
                <p>стоматолог - ортопед</p>
                <p>стоматолог имплантолог</p>
                <h3>Анташян <span>Вадим Георгиевич</span></h3>
                <a href="" class="btn appointment_btn-specialist" data-specialist="Антащян Вадим Георгиевич">Записаться к врачу</a>
            </div>
        </div>
        <div class="specialists_list_item" data-page="cheremushkin">
            <img src="@@pagesPath/img/specialist5_real.jpg" alt="">
            <div class="specialists_list_item_info">
                <p>стоматолог - хирург</p>
                <p>стоматолог - имплантолог</p>
                <h3>Черемушкин <span>Артем Николаевич</span></h3>
                <a href="" class="btn appointment_btn-specialist" data-specialist="Черемушкин Артем Николаевич">Записаться к врачу</a>
            </div>
        </div>
    </div>
</section>
