.asidemenu {
    &_menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &_item {
            min-width: 200px;
            a {
                display: block;
                padding: 10px 30px 10px 15px;
                width: 100%;
            }
            .active,
            a:hover {
                background: rgba($color: $darkblue, $alpha: 0.8);
            }
            &_link {
                background: var(--darkblue);
                color: var(--white);
            }
            .submenu {
                height: 0;
                overflow: hidden;
                transition: .8s;
                li {
                    a {
                        background: rgba($color: $darkblue, $alpha: 0.7);
                        color: var(--white);
                    }
                    a:hover {
                        background: rgba($color: $darkblue, $alpha: 0.9);
                    }
                }
            }
        }
        &_item.active {
            .submenu {
                height: var(--subtitle-height);
            }
        }
    }
}