.asidemenu {
    &_menu {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &_item {
            min-width: 200px;
            border-radius: var(--border-radius);
            > div {
                display: flex;
                align-items: center;
                background: var(--darkblue);
                padding-right: 15px;
                border-radius: var(--border-radius);
                overflow: hidden;
                
                cursor: pointer;
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
            a,
            span {
                display: block;
                padding: 15px 30px 15px 20px;
                width: 100%;
            }
            .active,
            a:hover {
                background: rgba($color: $darkblue, $alpha: 0.8);
            }
            &_link {
                color: var(--white);
            }
            .submenu {
                height: 0;
                overflow: hidden;
                transition: .8s;
                li {
                    a {
                        background: rgba($color: $darkblue, $alpha: 0.7);
                        color: var(--white);
                    }
                    a:hover {
                        background: rgba($color: $darkblue, $alpha: 0.9);
                    }
                }
            }
        }
        &_item.active,
        &_item:hover {
            > div:has(span) {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                img {
                    transform: rotate(90deg);
                }
            }
            > div:has(a) {
                border-radius: var(--border-radius);
            }
            .submenu {
                border-bottom-left-radius: var(--border-radius);
                border-bottom-right-radius: var(--border-radius);
            }
        }
    }
}