.headerinfo {
    // background: var(--page-background);
    background: var(--white);
    border-bottom: 1px solid var(--darkblue);
    .container {
        padding: 20px var(--container-padding);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &_top {
        p {
            color: var(--darkblue);
        }
    }
    &_bottom {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        @media (max-width: 1280px) {
            flex-direction: column;
        }
        &_address {
            color: var(--darkblue);
            p {
                font-weight: 700;
                &:nth-child(2) {
                    color: var(--darkpink);
                }
                @media (max-width: 1280px) {
                    text-align: center;
                }
            }
            @media (max-width: 1280px) {
                align-self: flex-start;
            }
            @media (max-width: 375px) {
                align-self: center;
            }
        }
        &_schedule {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
                text-align: center;
                margin: 0;
                color: var(--darkblue);
                font-weight: 700;
                span {
                    display: block;
                    color: var(--darkpink);
                    font-weight: 700;
                }
            }
        }
        &_phones {
            display: flex;
            flex-direction: column;
            gap: 5px;
            @media (max-width: 1280px) {
                align-self: flex-end;
            }
            @media (max-width: 375px) {
                align-self: center;
                flex-direction: column;
            }
            @extend .phones;
            a {
                color: var(--darkblue);
            }
        }
    }
}
