.topheader {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container_info {
        padding: 25px var(--container-padding);
    }
    &_logo {
        img {
            max-width: 100px;
        }
        h1 {
            color: var(--tiffany);
        }
    }
    &_phones {
        display: flex;
        gap: 15px;
        p {
            @extend .phones_p;
        }
    }
    &_navigation {
        background: var(--tiffany);
        .headernav {
            &_ul {
                display: flex;
                li {
                    a {
                        display: block;
                        padding: 16px 32px;
                        color: var(--white);
                        @include font(18px);
                    }
                }
                li.active,
                li:hover {
                    background: var(--orange);
                }
            }
        }
        &_search {
            display: flex;
            input {
                color: var(--white);
                background: var(--orange);
                padding: 10px;
                border: none;
                outline: none;
                @include font(14px);
            }
            input::placeholder {
                color: var(--white);
            }
            input:focus {
                background: var(--darkgreen);
            }
            > div {
                position: relative;
                width: 40px;
                height: 40px;
                background-color: var(--darkorange);
            }
            input[type="submit"] {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                // margin-top: auto;
                // margin-bottom: auto;
                margin: auto;
                width: 30px;
                height: 30px;
                background-image: url(../img/search.svg);
                background-size: 30px 30px;
                background-repeat: no-repeat;
                background-color: var(--darkorange);
                cursor: pointer;
            }
        }
    }
}
