.headerinfo {
    // background: var(--page-background);
    background: var(--white);
    .container {
        padding: 5px var(--container-padding);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &_top {
        p {
            color: var(--darkblue);
        }
    }
    &_bottom {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        &_address {
            color: var(--darkblue);
            @media (max-width: 1024px) {
                align-self: flex-start;
            }
            @media (max-width: 375px) {
                align-self: center;
            }
        }
        &_schedule {
            display: flex;
            flex-direction: column;
            gap: 5px;
            p {
                color: var(--darkblue);
                span {
                    color: var(--darkpink);
                }
            }
        }
        &_phones {
            display: flex;
            gap: 15px;
            @media (max-width: 1024px) {
                align-self: flex-end;
            }
            @media (max-width: 375px) {
                align-self: center;
            }
            @extend .phones;
            a {
                color: var(--darkblue);
            }
        }
    }
}
