* {
  font-family: "Roboto", sans-serif;
  transition: 0.8s;
  @include font(16px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.main {
  flex: 1 1 auto;
  background: var(--whitegray);
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0  var(--container-padding);
}
.wrap {
  display: flex;
  gap: 60px;
  padding: 30px 25px 30px 25px;
}
.none {
  display: none;
}
.btn {
  display: block;
  width: fit-content;
  @include btn();
}
.btn:hover {
  @include btn($background: linear-gradient(var(--orange), var(--darkorange)));
}
p {
  @include font(14px);
  margin-bottom: 20px;
}
h1 {
  @include font(40px, $fw: 700);
}
.h2,
.h2 h2 {
  @include font(24px, $fw: 700);
  color: var(--tiffany);
  margin-bottom: 15px;
}
section {
  margin-bottom: var(--section_gap);
}
a {
  cursor: pointer;
}