* {
  font-family: "Roboto", sans-serif;
  transition: 0.8s;
  @include font(var(--normal-fz));
}
// *::selection {
//   color: var(--darkpink);
//   color: rgba($color: $darkpink, $alpha: .8);
//   background: rgba($color: $darkblue, $alpha: .5);
// }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
// .main {
//   flex: 1 1 auto;

// }
.main {
  background: var(--page-background);
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}
.wrap {
  display: flex;
  gap: 60px;
  padding: 30px 0;
  @media (max-width: 1024px) {
    gap: 20px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
main.main {
  flex: 1 1 auto;
}
.content {
  flex: 1 1 auto;
  min-width: 250px;
}
.none {
  display: none !important;
}
.btn {
  display: block;
  width: fit-content;
  cursor: pointer;
  @include btn();
}
.btn:hover {
  background: rgba($color: $darkblue, $alpha: 0.8);
}
h1 {
  @include font(30px, $fw: 800);
  @media (max-width: 568px) {
    font-size: 34px;
  }
}
.h2,
.h2 h2 {
  color: var(--darkblue);
  margin-bottom: 30px;
  @include font($ff: #{"Ubuntu", sans-serif}, $fz:var(--h2-fz), $fw:800, $fs: italic);
  text-transform: uppercase;
  @media (max-width: 568px) {
    font-size: 28px;
  }
}
h3 {
  @include font(var(--h3-fz), 600);
  color: var(--darkpink);
  margin: 15px 0 20px 0;
}
section {
  margin-bottom: var(--section_gap);
}
a {
  cursor: pointer;
}

details[open] summary ~ * {
  animation: sweep 0.8s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

ul.marker {
  li {
    position: relative;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 25px;
  }
  li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../../img/marker.png");
    background-repeat: no-repeat;
    background-size: 20px;
    position: absolute;
    top: 0;
    // bottom: 0;
    // margin-top: auto;
    // margin-bottom: auto;
    left: 0;
  }
  &-disc {
    li {
      // &::marker {
      //   display: block;
      //   padding-left: 15px;
      //   // margin-left: 15px;
      // }
      list-style-position: inside;
      // padding-left: 15px;
      list-style-type: disc;
    }
  }
}