* {
  font-family: "Roboto", sans-serif;
  transition: 0.8s;
  @include font(var(--normal-fz));
}
// *::selection {
//   color: var(--darkpink);
//   color: rgba($color: $darkpink, $alpha: .8);
//   background: rgba($color: $darkblue, $alpha: .5);
// }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background: var(--page-background);
}
// .main {
//   flex: 1 1 auto;
  
// }
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0  var(--container-padding);
}
.wrap {
  display: flex;
  gap: 60px;
  flex: 1 1 auto;
  padding: 30px 25px 30px 25px;
  @media (max-width: 568px) {
    flex-direction: column;
    padding: 30px var(--container-padding);
  }
}
.content {
  flex: 1 1 auto;
  min-width: 250px;
}
.none {
  display: none;
}
.btn {
  display: block;
  width: fit-content;
  @include btn();
}
.btn:hover {
  background: rgba($color: $darkblue, $alpha: 0.8);
}
h1 {
  @include font(30px, $fw: 700);
  @media (max-width: 568px) {
    font-size: 34px;
  }
}
.h2,
.h2 h2 {
  @include font(28px, $fw: 800);
  color: var(--darkblue);
  margin-bottom: 15px;
}
section {
  margin-bottom: var(--section_gap);
}
a {
  cursor: pointer;
}