.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    background: rgba($color: $black, $alpha: 0.7);
    z-index: 3;
    &_body {
        position: relative;
        left: -400px;
        background: var(--white);
        width: 400px;
        height: 100%;
        padding: 15px 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        overflow: scroll;
        @media (max-width: 568px) {
            width: 320px;
            left: -320px;
        }
        &_clouse {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 20px;
            height: 20px;
        }
        &_logo {
            @extend .logo_topheader;
        }
        &_navigation {
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                li {
                    a {
                        display: block;
                        padding: 10px 30px 10px 0;
                    }
                }
            }
        }
        &_phones {
            display: flex;
            flex-direction: column;
            gap: 10px;
            @extend .phones;
            a {
                color: var(--darkblue);
            }
        }
    }
}