.services {
    &_wrap {
        ul {
            display: block;
            width: fit-content;
            padding: 0;
            margin: 0;
        }
        li {
            display: block;
            width: fit-content;
            padding: 15px 30px 15px 60px;
        }
        li.active {
            > ul {
                max-height: fit-content;
            }
        }
        &_mainitems {
            padding: 15px 30px;
            // background: var(--darkblue);
            > ul > li {
                // background: rgba($color: $darkblue, $alpha: 0.8);
                > ul > li {
                    // background: rgba($color: $darkblue, $alpha: 0.7);
                }
            }
            ul {
                max-height: 0;
                overflow: hidden;
            }
        }
    }
}