.phones_p {
    color: var(--darkblue);
    @include font(var(--normal-fz), 700);
    margin: 0;
    span {
        color: var(--darkpink);
        @include font(var(--normal-fz), 700);
    }
}


.logo_topheader {
    img {
        max-width: 100px;
    }
    h1 {
        color: var(--darkblue);
    }
}