:root {
    --main_font-family: "Roboto", sans-serif;

    --container-padding: 25px;

    --section_gap: 30px;
 
    --li_active_before_top: 0;

    // index
    --team_swiper-padding: 25px;
    --team_slide-width: 150px;
    --team_swiper-gap: 0;

    // colors
    --white: #fff;
    --black: #000;
    --gray: #aca1a1;
    --lightgray: #e5e5e5;
    --whitegray: #f7f7f7;
    --darkgray: #565656;
    --lightgreen: #8ec63f;
    --darkgreen: #267831;
    --blackgreen: #14601e;
}