.stocks {
    &_info {
        margin-top: var(--main_gap);
        margin-bottom: var(--main_gap);
    }
    &_phones {
        @extend .phones;
        display: flex;
        flex-direction: column;
        gap: 5px;
        a {
            @extend .link;
            text-decoration: none;
        }
    }
}
