@import "../../components/variables_scss";
@import "../../components/mixins";
@import "../../components/functions";
@import "../../components/templates";

.specialist {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 15px;
    width: fit-content;
    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
    }
    img {
        display: block;
        width: 100%;
        box-shadow: 14px 14px 10px 5px rgba($color: $darkblue, $alpha: 0.15);
        // height: 200px;
        // height: fit-content;
        object-fit: cover;
        // aspect-ratio: 1 / 2;
        @media (max-width: 1024px) {
            width: 30%;
            margin: 0 auto;
        }
        @media (max-width: 768px) {
            width: 40%;
        }
        @media (max-width: 568px) {
            width: 50%;
        }
        @media (max-width: 425px) {
            width: 60%;
        }
    }
    > div {
        display: flex;
        flex-direction: column;
        gap: var(--main_gap);
    }
    &_image {
        display: block !important;
        // img {
        //     aspect-ratio: 1 / .9;
        // }
    }
    &-header {
        h3 {
            margin: 0 0 calc(var(--main_gap) / 2) 0;
        }
        p {
            color: var(--darkblue);
        }
    }
    &_bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--main_gap);
        h4 {
            margin-bottom: calc(var(--main_gap) / 2);
            color: var(--darkpink);
            // text-decoration: underline;
        }
        &-info {
            h3 {
                margin-top: 0;
            }
            p {
                margin-bottom: var(--main_gap);
            }
        }
    }
}
