<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">


  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
  
  
  
  
    <link rel="stylesheet" href="../../../../../css/style.min.css" />
  
  <link rel="stylesheet" href="../../../../../css/pages/specialists/specialist.min.css"/>
  <title>Стоматология - Прейскурант</title>
</head>

<body>
	<div class="mobile none">
    <div class="mobile_body">
        
        
            <img src="../../../../../img/cross.svg" loading="lazy" alt="" class="mobile_body_clouse">
        
        
        <div class="mobile_body_logo">
            
              
                <picture><source srcset="../../../../../img/sity_logo.webp" type="image/webp"><img src="../../../../../img/sity_logo.png" alt=""></picture>
                <picture><source srcset="../../../../../img/logo.webp" type="image/webp"><img src="../../../../../img/logo.png" alt=""></picture>
                
                
        </div>
        <div class="mobile_body_navigation">
            <nav class="mobile_body_navigation_nav">
                <ul>
                    






    <li><a href="../../../../../index.html"><span>Главная</span></a></li>
    <li><a href="../../../partners/partners.html"><span>Партнёры</span></a></li>
    <li><a href="../../../news/news.html"><span>Новости</span></a></li>
    <li><a href="../../../comments/comments.html"><span>Отзывы</span></a></li>
    <li><a href="../../../contacts/contacts.html"><span>Контакты</span></a></li>

                </ul>
            </nav>
        </div>
        <div class="mobile_body_phones">
            <a href="tel:+74955681178">8 <span>(495)</span> 568-11-78</a>
<a href="tel:+79804605233">8 <span>(980)</span> 460-52-33</a>
        </div>
    </div>
</div>
	<div class="appointment_modal none">
    <div class="appointment_modal_body">
        
        
            <img src="../../../../../../img/cross.svg" loading="lazy" alt="" class="appointment_modal_body_clouse">
        
        
        <h2 class="h2">Записаться на консультацию</h2>
        <p>Заполните форму заявки и наш сотрудник с вами свяжется в самый короткий срок</p>
        <form action="https://api.web3forms.com/submit" method="POST">

            <!-- Replace with your Access Key -->
            <input type="hidden" name="access_key" value="8720d856-0ed7-48eb-b764-b10d800cbba3">


            <input type="text" name="Имя пациента" placeholder="Введите имя" required>
            <input type="text" name="Имя доктора" placeholder="Введите имя специалиста" required class="doctor-input">
            <input type="text" name="Телефон пациента" placeholder="Введите телефон" required>
            <input type="text" name="Почта" placeholder="Введите Email" required>
            <input class="btn" type="submit" value="Записаться на прием">
        </form>
        <p>Нажимая на кнопку «Записаться на прием», Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p>
    </div>
</div>
	<div class="wrapper">
		<header class="headerinfo">
    <div class="container">
        <div class="headerinfo_bottom">
            
            
                <a href="../contacts/contacts.html" class="headerinfo_bottom_address"><p>г. Москва ул. Трифоновская, 55</p><p>Схема проезда</p></a>
            
            <div class="headerinfo_bottom_schedule">
                    <p><span>На связи с Вами:</span> ежедневно с 9:00 до 21:00 </p>
            </div>
            <div class="headerinfo_bottom_phones">
                <a href="tel:+74955681178">8 <span>(495)</span> 568-11-78</a>
<a href="tel:+79804605233">8 <span>(980)</span> 460-52-33</a>
            </div>
        </div>
    </div>
</header>

		<header class="topheader">
  <div class="container">
    <div class="topheader_mobile">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="topheader_logo">
      <a href="/">
        <!-- 
          
            <img src="../../../img/logo.svg" alt="" srcset="">
           -->
        <div class="topheader_logo_left">
          <span>стомсити.рф</span>
          <span class="title">стоматология</span>
        </div>
        <div class="line"><span></span><span></span></div>
        <div class="topheader_logo_right">
          
          
          <picture><source srcset="../../../img/sity_logo.webp, " type="image/webp"><img src="../../../img/sity_logo.png" alt="" srcset=""></picture>
          
          
            <picture><source srcset="../../../../../img/sity_logo.webp, " type="image/webp"><img src="../../../../../img/sity_logo.png" alt="" srcset=""></picture>
          
          <span>международная сеть лабораторий</span>
        </div>
      </a>

    </div>
    <nav class="topheader_navigation headernav">
      <ul class="headernav_ul">
        






    <li><a href="../../../../../index.html"><span>Главная</span></a></li>
    <li><a href="../../../partners/partners.html"><span>Партнёры</span></a></li>
    <li><a href="../../../news/news.html"><span>Новости</span></a></li>
    <li><a href="../../../comments/comments.html"><span>Отзывы</span></a></li>
    <li><a href="../../../contacts/contacts.html"><span>Контакты</span></a></li>

      </ul>
    </nav>
    <a href="" class="topheader_appointment appointment_btn">Запись на приём</a>
  </div>
</header>
        
		<main class="main">
			<div class="container">
				<div class="wrap">
					<aside class="asidemenu">
    <menu class="asidemenu_menu">
        <li class="asidemenu_menu_item">
            <div>
                <span class="asidemenu_menu_item_link">Услуги</span>
                
                
                    <picture><source srcset="../../../../../img/arrow_pink.webp" type="image/webp"><img src="../../../../../img/arrow_pink.png" alt=""></picture>
                
                
                
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                
                
                    <li><a href="../../../dentistry/dentistry.html">Стоматология</a></li>
                    <li><a href="../../../laboratory/laboratory.html">Лаболатория</a></li>
                
                
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <span class="asidemenu_menu_item_link">Нашы цены</span>
                
                
                    <picture><source srcset="../../../../../img/arrow_pink.webp" type="image/webp"><img src="../../../../../img/arrow_pink.png" alt=""></picture>
                
                
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                
                
                    <li><a href="../../../pricelist_dentistry/pricelist_dentistry.html">Нашы цены - Стоматология</a></li>
                    <li><a href="../../../pricelist_laboratory/pricelist_laboratory.html">Нашы цены - Лаболатория</a></li>
                
                
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                
                
                    <a href="../../../specialists/specialists.html" class="asidemenu_menu_item_link">Специалисты</a>
                
                
            </div>
        </li>
        <!-- <li class="asidemenu_menu_item">
            <div>
                
                
                    <a href="../schedule/schedule.html" class="asidemenu_menu_item_link">Расписание</a>
                
            </div>
        </li> -->
        <li class="asidemenu_menu_item">
            <div>
                
                
                    <a href="../../../stocks/stocks.html" class="asidemenu_menu_item_link">Акции</a>
                
                
            </div>
        </li>
    </menu>
</aside>
					<div class="content">
                        <div class="specialist">
                            <picture><source srcset="../../../../../img/specialist2.webp" type="image/webp"><img src="../../../../../img/specialist2.png" alt=""></picture>
                            <div class="">
                                <div class="specialist-header">
                                    <h3>Киотина Наталья Евгеньевна</h3>
                                    <p>стоматолог - общей практики</p>
                                </div>
                                <div class="specialist_bottom">
                                    <div class="specialist_bottom-info">
                                        <h4>Квалификация</h4>
                                        <ul class="marker">
                                            <li>В 2015 году прошла повышение квалификации в ГБУЗ МО МОНИКИ им М.Ф. Владимирского по
                                                программе
                                                Стоматологическая помощь населению.</li>
                                            <li>В 2009 году прошла повышение квалификации в Московском областном медицинском колледже по
                                                программе Стоматологическая помощь населению;</li>
                                            <li>В 1994 году окончила Ярославское медицинское училище № 1, присвоена квалификация Зубного
                                                врача;
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="specialist_bottom-skills">
                                        <h4>Навыки</h4>
                                        <p>Врач-стоматолог общей практики с тридцатилетним стажем работы, успешно применяет современные
                                            методы
                                            лечения в области эндодоктии и оказывает неотложную хирургическую неотложную помощь. Она
                                            также
                                            обладает навыками ортопеда - стоматолога и владеют всеми методами съёмного и несъёмного
                                            протезирования и протезирования на имплантат.</p>
                                        <p>Индивидуальный подход к каждому пациенту и использование современных методов диагностики
                                            позволяют
                                            врачу обеспечивать высокое качество лечения и удовлетворят потребности своих пациентов.
                                            Благодаря
                                            огромной базе постоянных клиентов, врач имеет возможность оказывать качественную медицинскую
                                            помощь
                                            и поддерживать здоровье зубов своих пациентов на протяжении многих лет.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
			
		</main>

		<footer class="sitefooter">
	<div class="container">
		<div class="sitefooter_left">
			<p class="sitefooter_left_copyright">
				© 2024 ООО «ДОНЛАБ»
			</p>
			<address class="sitefooter_left_address">
				
				
                    <a href="../../../contacts/contacts.html" class="headerinfo_bottom_address">г. Москва ул. Трифоновская, 55</a>
                
                
			</address>
		</div>
		<div>
			<span>Мы принимаем к оплате:</span>
			<div class="sitefooter_cards">
				
				
                    <picture><source srcset="../../../../../img/visa_card.webp" type="image/webp"><img src="../../../../../img/visa_card.png" alt="карта виза"></picture>
					<picture><source srcset="../../../../../img/mastercard.webp" type="image/webp"><img src="../../../../../img/mastercard.png" alt="мастер карта"></picture>
					<picture><source srcset="../../../../../img/maestro_card.webp" type="image/webp"><img src="../../../../../img/maestro_card.png" alt="карта маестро"></picture>
                
                
			</div>
		</div>
		<div class="sitefooter_social">
			
			
				<a href="#"><img src="../../../../../img/telegram.svg" alt=""></a>
				<a href="#"><img src="../../../../../img/whatsapp.svg" alt=""></a>
			
			
		</div>
		<div class="sitefooter_right">
			<div class="sitefooter_right_phones">
				
				
					<picture><source srcset="../../../../../img/phone.webp" type="image/webp"><img src="../../../../../img/phone.png" alt=""></picture>
				
				
				<div class="">
					<a href="tel:+74955681178">8 <span>(495)</span> 568-11-78</a>
<a href="tel:+79804605233">8 <span>(980)</span> 460-52-33</a>
				</div>
			</div>
			<div class="sitefooter_right_email">
				<p>Email: <a href="mailto:donlab@list.ru">donlab@list.ru</a></p>
			</div>
		</div>
	</div>
</footer>
	</div>
	<script defer type="module" src="../../../../../js/script.min.js"></script>
</body>
</html>