.contacts {
    margin-bottom: 0;
    &_info {
        &_body {
            display: flex;
            flex-direction: column;
            gap: 15px;
            th {
                vertical-align: top;
                @include font(var(--normal-fz), $fw: 600);
            }
            tr {
                display: flex;
                gap: 15px;
            }
            &_phones {
                td {
                    @extend .phones;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    a {
                        @extend .link;
                        @include font(var(--normal-fz));
                        span {
                            @include font(var(--normal-fz));
                            text-decoration: underline;
                        }
                    }
                }
            }
            &_email {
                td {
                    a {
                        @extend .link;
                    }
                }
            }
            &_schedule {
                td {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
            }
        }
    }
}