.reviews {
    .review {
        margin-bottom: 20px;
        &_header {
            display: flex;
            gap: 15px;
            margin-bottom: 10px;
            @media (max-width: 768px) {
                flex-direction: column;
                gap: 5px;
            }
            h3 {
                @include font(var(--big-fz), 600);
            }
            &_stars {
                svg {
                    width: 20px;
                    height: 20px;
                    transition: 0s;
                    path {
                        transition: 0s;
                    }
                }
                svg.active {
                    color: #fc0;
                    color: var(--darkblue);
                }
                svg.grey {
                    color: var(--gray);
                }
            }
        }
        &_text {
            @include font(var(--small-fz));
        }
    }
}