.comments-form {
    margin-bottom: var(--section_gap);
    &_form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        input,
        textarea {
            border: 1px rgba($color: $gray, $alpha: .3) solid;
            padding: 15px 30px;
        }
        &_inputs {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 15px;
            textarea {
                resize: none;
                height: 200px;
                width: 100%;
            }
        }
    }
}