@import "../../components/variables_scss";
@import "../../components/mixins";
@import "../../components/functions";
@import "../../components/templates";

@import "../../components/_swiper_one_slide";

.partners {
    &_list {
        display: flex;
        flex-direction: column;
        gap: var(--main_gap);
        &_partner {
            display: flex;
            gap: var(--main_gap);
            &-left {
                img {
                    display: block;
                    max-width: 120px;
                }
            }
            &-right {
                img {
                    width: 300px;
                    float: right;
                }
            }
        }
    }
}