@import "../../components/variables_scss";
@import "../../components/mixins";
@import "../../components/functions";
@import "../../components/templates";

@import "../../components/_swiper_one_slide";

.partners {
    &_list {
        display: flex;
        flex-direction: column;
        gap: var(--main_gap);
        &_partner {
            display: grid;
            grid-template-columns: 200px 1fr 400px;
            gap: var(--main_gap);
            @media (max-width: 1440px) {
                grid-template-columns: 200px 1fr 300px;
            }
            @media (max-width: 1280px) {
                grid-template-columns: 100px 1fr 200px;
            }
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
            &-left {
                img {
                    display: block;
                    width: 100%;
                    object-fit: contain;
                    @media (max-width: 768px) {
                        width: 30%;
                        margin: 0 auto;
                    }
                    @media (max-width: 568px) {
                        width: 60%;
                    }
                }
            }
            &-right {
                h3 {
                    margin-top: 0;
                }
            }
            &-img {
                img {
                    display: block;
                    width: 100%;
                    object-fit: contain;
                    @media (max-width: 768px) {
                        width: 60%;
                        margin: 0 auto;
                    }
                    @media (max-width: 568px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}