<div class="appointment_modal none">
    <div class="appointment_modal_body">
        @@if (page === "index") {
            <img src="img/cross.svg" loading="lazy" alt="" class="appointment_modal_body_clouse">
        }
        @@if (page === "specialists_pages") {
            <img src="@@pagesPath/../../../img/cross.svg" loading="lazy" alt="" class="appointment_modal_body_clouse">
        }
        @@if (page !== "index" && page !== "specialists_pages") {
            <img src="@@pagesPath/img/cross.svg" loading="lazy" alt="" class="appointment_modal_body_clouse">
        }
        <h2 class="h2">Записаться на консультацию</h2>
        <p>Заполните форму заявки и наш сотрудник с вами свяжется в самый короткий срок</p>
        <form action="https://api.web3forms.com/submit" method="POST">

            <!-- Replace with your Access Key -->
            <input type="hidden" name="access_key" value="8720d856-0ed7-48eb-b764-b10d800cbba3">


            <input type="text" name="Имя пациента" placeholder="Введите имя" required>
            <input type="text" name="Имя доктора" placeholder="Введите имя специалиста" required class="doctor-input">
            <input type="text" name="Телефон пациента" placeholder="Введите телефон" required>
            <input type="text" name="Почта" placeholder="Введите Email" required>
            <input class="btn" type="submit" value="Записаться на прием">
        </form>
        <p>Нажимая на кнопку «Записаться на прием», Вы соглашаетесь с <a href="#">политикой конфиденциальности</a></p>
    </div>
</div>