<aside class="asidemenu">
    <menu class="asidemenu_menu">
        <li class="asidemenu_menu_item">
            <div>
                <span class="asidemenu_menu_item_link">Услуги</span>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page !== "index") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                @@if (page === "index") {
                    <li><a href="html/pages/dentistry/dentistry.html">Стоматология</a></li>
                    <li><a href="">Лаболатория</a></li>
                }
                @@if (page !== "index") {
                    <li><a href="../dentistry/dentistry.html">Стоматология</a></li>
                    <li><a href="">Лаболатория</a></li>
                }
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <span class="asidemenu_menu_item_link">Прейскурант</span>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page !== "index") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                @@if (page === "index") {
                    <li><a href="html/pages/pricelist_dentistry/pricelist_dentistry.html">Прейскурант - цена</a></li>
                    <li><a href="">Прейскурант - цена</a></li>
                }
                @@if (page !== "index") {
                    <li><a href="../pricelist_dentistry/pricelist_dentistry.html">Прейскурант - цена</a></li>
                    <li><a href="">Прейскурант - цена</a></li>
                }
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <a class="asidemenu_menu_item_link">Специалисты</a>
            </div>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <a class="asidemenu_menu_item_link">Расписание</a>
            </div>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <a href="" class="asidemenu_menu_item_link">Информация</a>
            </div>
        </li>
    </menu>
</aside>