<aside class="asidemenu">
    <menu class="asidemenu_menu">
        <li class="asidemenu_menu_item">
            <div>
                <a href="" class="asidemenu_menu_item_link">Услуги</a>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page !== "index") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Стоматология</a></li>
                <li><a href="">Лаболатория</a></li>
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <a href="" class="asidemenu_menu_item_link">Прейскурант</a>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page !== "index") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Прейскурант - цена</a></li>
                <li><a href="">Прейскурант - цена</a></li>
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <a href="" class="asidemenu_menu_item_link">Специалисты</a>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page !== "index") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Специалист 1</a></li>
                <li><a href="">Специалист 2</a></li>
                <li><a href="">Специалист 3</a></li>
                <li><a href="">Специалист 4</a></li>
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <a href="" class="asidemenu_menu_item_link">Расписание</a>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page !== "index") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Расписание</a></li>
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <a href="" class="asidemenu_menu_item_link">Информация</a>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page !== "index") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Информация</a></li>
            </menu>
        </li>
    </menu>
</aside>