<aside class="asidemenu">
    <menu class="asidemenu_menu">
        <li class="asidemenu_menu_item">
            <div>
                <span class="asidemenu_menu_item_link">Услуги</span>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page === "specialists_pages") {
                    <img src="@@pagesPath/../../img/arrow_pink.png" alt="">
                }
                @@if (page !== "index" && page !== "specialists_pages") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
                
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                @@if (page === "index") {
                    <li><a href="html/pages/dentistry/dentistry.html">Стоматология</a></li>
                    <li><a href="html/pages/laboratory/laboratory.html">Лаболатория</a></li>
                }
                @@if (page === "specialists_pages") {
                    <li><a href="../../../dentistry/dentistry.html">Стоматология</a></li>
                    <li><a href="../../../laboratory/laboratory.html">Лаболатория</a></li>
                }
                @@if (page !== "index" && page !== "specialists_pages") {
                    <li><a href="../dentistry/dentistry.html">Стоматология</a></li>
                    <li><a href="../laboratory/laboratory.html">Лаболатория</a></li>
                }
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                <span class="asidemenu_menu_item_link">Нашы цены</span>
                @@if (page === "index") {
                    <img src="img/arrow_pink.png" alt="">
                }
                @@if (page === "specialists_pages") {
                    <img src="@@pagesPath/../../img/arrow_pink.png" alt="">
                }
                @@if (page !== "index" && page !== "specialists_pages") {
                    <img src="@@pagesPath/img/arrow_pink.png" alt="">
                }
            </div>
            <menu class="asidemenu_menu_item_submenu submenu">
                @@if (page === "index") {
                    <li><a href="html/pages/pricelist_dentistry/pricelist_dentistry.html">Нашы цены - Стоматология</a></li>
                    <li><a href="html/pages/pricelist_laboratory/pricelist_laboratory.html">Нашы цены - Лаборатория</a></li>
                }
                @@if (page === "specialists_pages") {
                    <li><a href="../../../pricelist_dentistry/pricelist_dentistry.html">Нашы цены - Стоматология</a></li>
                    <li><a href="../../../pricelist_laboratory/pricelist_laboratory.html">Нашы цены - Лаборатория</a></li>
                }
                @@if (page !== "index" && page !== "specialists_pages") {
                    <li><a href="../pricelist_dentistry/pricelist_dentistry.html">Нашы цены - Стоматология</a></li>
                    <li><a href="../pricelist_laboratory/pricelist_laboratory.html">Нашы цены - Лаборатория</a></li>
                }
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <div>
                @@if (page === "index") {
                    <a href="html/pages/specialists/specialists.html" class="asidemenu_menu_item_link">Специалисты</a>
                }
                @@if (page === "specialists_pages") {
                    <a href="../../../specialists/specialists.html" class="asidemenu_menu_item_link">Специалисты</a>
                }
                @@if (page !== "index" && page !== "specialists_pages") {
                    <a href="../specialists/specialists.html" class="asidemenu_menu_item_link">Специалисты</a>
                }
            </div>
        </li>
        <!-- <li class="asidemenu_menu_item">
            <div>
                @@if (page === "index") {
                    <a href="html/pages/schedule/schedule.html" class="asidemenu_menu_item_link">Расписание</a>
                }
                @@if (page !== "index") {
                    <a href="../schedule/schedule.html" class="asidemenu_menu_item_link">Расписание</a>
                }
            </div>
        </li> -->
        <li class="asidemenu_menu_item">
            <div>
                @@if (page === "index") {
                    <a href="html/pages/stocks/stocks.html" class="asidemenu_menu_item_link">Акции</a>
                }
                @@if (page === "specialists_pages") {
                    <a href="../../../stocks/stocks.html" class="asidemenu_menu_item_link">Акции</a>
                }
                @@if (page !== "index" && page !== "specialists_pages") {
                    <a href="../stocks/stocks.html" class="asidemenu_menu_item_link">Акции</a>
                }
            </div>
        </li>
    </menu>
</aside>