<footer class="sitefooter">
	<div class="container">
		<div class="sitefooter_left">
			<p class="sitefooter_left_copyright">
				© 2024 ООО «ДОНЛАБ»
			</p>
			<address class="sitefooter_left_address">
				@@if (page === "index") {
					<a href="html/pages/contacts/contacts.html" class="headerinfo_bottom_address">г. Москва ул. Трифоновская, 55</a>
				}
				@@if (page !== "index") {
					<a href="../contacts/contacts.html" class="headerinfo_bottom_address">г. Москва ул. Трифоновская, 55</a>
				}
			</address>
		</div>
		<div>
			<span>Мы принимаем к оплате:</span>
			<div class="sitefooter_cards">
				@@if (page === "index") {
                    <img src="img/visa_card.png" alt="карта виза">
					<img src="img/mastercard.png" alt="мастер карта">
					<img src="img/maestro_card.png" alt="карта маестро">
                }
                @@if (page !== "index") {
					<img src="@@pagesPath/img/visa_card.png" alt="карта виза">
					<img src="@@pagesPath/img/mastercard.png" alt="мастер карта">
					<img src="@@pagesPath/img/maestro_card.png" alt="карта маестро">
                }
			</div>
		</div>
		<div class="sitefooter_social">
			@@if (page === "index") {
				<a href="#"><img src="img/telegram.svg" alt=""></a>
				<a href="#"><img src="img/whatsapp.svg" alt=""></a>
			}
			@@if (page !== "index") {
				<a href="#"><img src="@@pagesPath/img/telegram.svg" alt=""></a>
				<a href="#"><img src="@@pagesPath/img/whatsapp.svg" alt=""></a>
			}
		</div>
		<div class="sitefooter_right">
			<div class="sitefooter_right_phones">
				@@if (page === "index") {
                    <img src="img/phone.png" alt="">
                }
                @@if (page !== "index") {
					<img src="@@pagesPath/img/phone.png" alt="">
                }
				<div class="">
					@@include('_phones.html', {})
				</div>
			</div>
			<div class="sitefooter_right_email">
				<p>Email: <a href="mailto:donlab@list.ru">donlab@list.ru</a></p>
			</div>
		</div>
	</div>
</footer>