<header class="headerinfo">
    <div class="container">
        <div class="headerinfo_bottom">
            @@if (page === "index") {
                <a href="html/pages/contacts/contacts.html" class="headerinfo_bottom_address"><p>г. Москва ул. Трифоновская, 55</p><p>Схема проезда</p></a>
            }
            @@if (page !== "index") {
                <a href="../contacts/contacts.html" class="headerinfo_bottom_address"><p>г. Москва ул. Трифоновская, 55</p><p>Схема проезда</p></a>
            }
            <div class="headerinfo_bottom_schedule">
                    <p><span>На связи с Вами:</span> ежедневно с 07:30 до 20:00 </p>
            </div>
            <div class="headerinfo_bottom_phones">
                @@include('_phones.html', {})
            </div>
        </div>
    </div>
</header>