<header class="topheader">
    <div class="container">
      <div class="topheader_mobile">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="topheader_logo">
        @@if (page === "index") {
          <img src="img/sity_logo.png" alt="">
        }
        @@if (page !== "index") {
          <img src="@@pagesPath/img/sity_logo.png" alt="">
        }
        <h1>Стоматология</h1>
      </div>
      <nav class="topheader_navigation headernav">
        <ul class="headernav_ul">
          @@include('_headerMenuItems.html',{
            "page": "@@page"
          })
        </ul>
      </nav>
      <a href="" class="topheader_appointment">Запись к врачу</a>
    </div>
</header>
