<div class="mobile none">
    <div class="mobile_body">
        @@if (page === "index") {
            <img src="img/cross.svg" loading="lazy" alt="" class="mobile_body_clouse">
        }
        @@if (page === "specialists_pages") {
            <img src="@@pagesPath/../../img/cross.svg" loading="lazy" alt="" class="mobile_body_clouse">
        }
        @@if (page !== "index" && page !== "specialists_pages") {
            <img src="@@pagesPath/img/cross.svg" loading="lazy" alt="" class="mobile_body_clouse">
        }
        <div class="mobile_body_logo">
            @@if (page === "index") {
                <img src="img/sity_logo.png" alt="">
                <img src="img/logo.png" alt="" srcset="">
              }
              @@if (page === "specialists_pages") {
                <img src="@@pagesPath/../../img/sity_logo.png" alt="">
                <img src="@@pagesPath/../../img/logo.png" alt="">
                }
                @@if (page !== "index" && page !== "specialists_pages") {
                    <img src="@@pagesPath/img/sity_logo.png" alt="">
                <img src="@@pagesPath/img/logo.png" alt="">
                }
        </div>
        <div class="mobile_body_navigation">
            <nav class="mobile_body_navigation_nav">
                <ul>
                    @@include('_header_menu_items.html',{
                        "page": "@@page"
                      })
                </ul>
            </nav>
        </div>
        <div class="mobile_body_phones">
            @@include('_phones.html', {})
        </div>
    </div>
</div>