<section class="services">
    <header>
        <h2>Прайслист</h2>
    </header>
    <ul class="services_wrap">
        <li class="services_wrap_mainitems">
            <div>
                <a href="">услуга</a>
            </div>
            <ul>
                <li>
                    <div><a href="">подуслуга</a></div>
                    <ul>
                        <li>
                            <div><a href="">подподуслуга</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <div><a href="">подуслуга</a></div>
                    <ul>
                        <li>
                            <div><a href="">подподуслуга</a></div>
                        </li>
                        <li>
                            <div><a href="">подподуслуга</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="services_wrap_mainitems">
            <div>
                <a href="">АЛЛЕРГОЛОГИЧЕСКИЕ ИССЛЕДОВАНИЯ</a>
            </div>
            <ul>
                <li>
                    <div><a href="">DR.FOOKE ЛЕКАРСТВЕННЫЕ АЛЛЕРГЕНЫ. Анальгетики и нестероидные противовоспалительные препараты (IgG)</a></div>
                    <ul>
                        <li>
                            <div><a href="">c111 Фенацетин /Phenacetine IgG</a></div>
                        </li>
                        <li>
                            <div><a href="">c51 Ацетилсалициловая кислота /Acetylsalicylic acid (ASA, aspirin) IgG</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li>
                    <div><a href="">DR.FOOKE ЛЕКАРСТВЕННЫЕ АЛЛЕРГЕНЫ. Анальгетики и нестероидные противовоспалительные препараты (IgG4 специфические)</a></div>
                    <ul>
                        <li>
                            <div><a href="">Исследование уровня специфических антител подкласса G4 (IgG4) к аллергену с111 Фенацетин в копрофильтрате, тест-система Dr.Fooke</a></div>
                        </li>
                        <li>
                            <div><a href="">Исследование уровня специфических антител подкласса G4 (IgG4) к аллергену c51 Ацетилсалициловая кислота в копрофильтрате, тест-система Dr.Fooke</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</section>