<aside class="asidemenu">
    <menu class="asidemenu_menu">
        <li class="asidemenu_menu_item">
            <a href="" class="asidemenu_menu_item_link">Услуги</a>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <a href="" class="asidemenu_menu_item_link">Специалисты</a>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <a href="" class="asidemenu_menu_item_link">Расписание</a>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <a href="" class="asidemenu_menu_item_link">Прейскурант</a>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
            </menu>
        </li>
        <li class="asidemenu_menu_item">
            <a href="" class="asidemenu_menu_item_link">Информация</a>
            <menu class="asidemenu_menu_item_submenu submenu">
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
                <li><a href="">Акушерство</a></li>
            </menu>
        </li>
    </menu>
</aside>