<aside class="asidemenu">
    <menu class="asidemenu_menu">
        <li>
            <a href="#">Услуги</a>
            <menu class="asidemenu_menu_submenu">
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
            </menu>
        </li>
        <li>
            <a href="#">Специалисты</a>
            <menu class="asidemenu_menu_submenu">
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
            </menu>
        </li>
        <li>
            <a href="#">Расписание</a>
            <menu class="asidemenu_menu_submenu">
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
            </menu>
        </li>
        <li>
            <a href="#">Прейскурант</a>
            <menu class="asidemenu_menu_submenu">
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
            </menu>
        </li>
        <li>
            <a href="#">Программы</a>
            <menu class="asidemenu_menu_submenu">
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
            </menu>
        </li>
        <li>
            <a href="#">Информация</a>
            <menu class="asidemenu_menu_submenu">
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
                <li><a href="#">Акушерство</a></li>
            </menu>
        </li>
    </menu>
</aside>