<footer class="sitefooter">
	<div class="container">
		<div class="sitefooter_left">
			<p class="sitefooter_left_copyright">
				© 1995-2017 ООО «Медицинский центр Врачеватель»</p>
			<address class="sitefooter_left_address"><a href="#">141206, Московская область, г. Пушкино, ул. Островского, д. 22</a></address>
			<span>Мы принимаем к оплате:</span>
			<div class="sitefooter_left_cards">
				<img src="img/visa_card.png" alt="карта виза">
				<img src="img/mastercard.png" alt="мастер карта">
				<img src="img/maestro_card.png" alt="карта маестро">
			</div>
		</div>
		<div class="sitefooter_right">
			<div class="sitefooter_right_phones">
				<img src="img/phone.png" alt="">
				<div class="">
					<p><span>(495)</span> 926-95-50</p>
					<p><span>(496)</span> 539-90-50</p>
					<p><span>(985)</span> 110-05-50</p>
				</div>
			</div>
			<div class="sitefooter_right_social">
				<a href="#"><img src="img/telegram.svg" alt=""></a>
				<a href="#"><img src="img/whatsapp.svg" alt=""></a>
				<a href="#"><img src="img/facebook.svg" alt=""></a>
			</div>
		</div>
	</div>
</footer>