<header class="headerinfo">
    <div class="container">
        <a class="headerinfo_address">ул. Трифоновская, 55</a>
        <div class="headerinfo_social">
            <a href="#"><img src="img/telegram.svg" alt=""></a>
            <a href="#"><img src="img/whatsapp.svg" alt=""></a>
            <a href="#"><img src="img/facebook.svg" alt=""></a>
        </div>
        <div class="headerinfo_phones">
            <p><span>(980)</span> 460-52-33</p>
            <p><span>(496)</span> 539-90-50</p>
            <p><span>(985)</span> 110-05-50</p>
        </div>
    </div>
</header>