<header class="topheader">
    <div class="container">
      <div class="topheader_mobile">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="topheader_logo">
        <img src="img/sity_logo.png" alt="">
        <h1>Стоматология</h1>
      </div>
      <nav class="topheader_navigation headernav">
        <ul class="headernav_ul">
          @@include('headerMenuItems.html',{})
        </ul>
      </nav>
      <form action="" class="topheader_search">
        <input type="search" placeholder="Поиск...">
        <div class="">
          <label for="search" class="none">Поиск</label>
          <input type="submit" name="search" value="">
        </div>
      </form>
    </div>
</header>