<header class="topheader">
  <div class="topheader_topline"></div>
  <div class="container container_info">
    <img src="img/logo.svg" alt="" class="topheader_logo">
    <div class="topheader_backinfo backinfo">
      <div class="backinfo_top">
        <img src="img/phone.png" alt="">
        <p>Справочно-информационная служба:</p>
      </div>
      <div class="backinfo_bottom">
        <p><span>(495)</span> 926-95-50</p>
        <p><span>(496)</span> 539-90-50</p>
        <p><span>(985)</span> 110-05-50</p>
      </div>
    </div>
  </div>
  <div class="topheader_navigation">
    <div class="container">
      <nav class="topheader_navigation_nav headernav">
        <ul class="headernav_ul">
          <li class="active"><a href="#">Главная</a></li>
          <li><a href="#">О центре</a></li>
          <li><a href="#">События</a></li>
          <li><a href="#">Отзывы</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <form action="" class="topheader_navigation_search">
        <input type="search" placeholder="Поиск...">
        <input type="submit" value="">
      </form>
    </div>
  </div>
</header>