<div class="mobile none">
    <div class="mobile_body">
        <img src="img/cross.svg" loading="lazy" alt="" class="mobile_body_clouse">
        <div class="mobile_body_logo">
            <img src="img/sity_logo.png" loading="lazy" alt="">
            <h1>Стоматология</h1>
        </div>
        <div class="mobile_body_navigation">
            <nav class="mobile_body_navigation_nav">
                <ul>
                    @@include('headerMenuItems.html',{})
                </ul>
            </nav>
        </div>
        <div class="mobile_body_phones">
            <p><span>(495)</span> 926-95-50</p>
            <p><span>(496)</span> 539-90-50</p>
            <p><span>(985)</span> 110-05-50</p>
        </div>
    </div>
</div>