<section class="pricelist">
    <header class="h2">
        <h2>Прейскурант - Лаболатория</h2>
    </header>
    <table class="pricelist-table">
        <thead>
            <tr>
                <th id="keys">Код</th>
                <th>Название услуги</th>
                <th>Цена(руб.)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="rowgroup" headers="keys" colspan="3">Терапия</th>
            </tr>
            <tr>
                <td>1.1</td>
                <th scope="row">Консультация врача стоматолога — терапевта первичная:запись зубной формулы, оформление рекомендаций, составление плана лечения.</th>
                <td>Бесплатно</td>
            </tr>
            <tr>
                <td>1.2</td>
                <th scope="row">Консультация зубного врача:запись зубной формулы, оформление рекомендаций, составление плана лечения.</th>
                <td>Бесплатно</td>
            </tr>
            <tr>
                <td>1.3</td>
                <th scope="row">Прием врача стоматолога — терапевта</th>
                <td>250,00р.</td>
            </tr>
            <tr>
                <td>1.4</td>
                <th scope="row">Повторная консультация врача стоматолога — терапевта:чтение Rg, ОПТГ, КТ составление предварительного расчета расширенного плана лечения.</th>
                <td>450,00р.</td>
            </tr>
            <tr>
                <td>1.5</td>
                <th scope="row">Описание с расшифровкой снимков КТ обеих челюстей с заключением</th>
                <td>2 000,00р.</td>
            </tr>
            <tr>
                <td>1.6</td>
                <th scope="row">Профилактический осмотр врача стоматолога — терапевта:прохождение медкомиссии для трудоустройства, по беременности и т. д. А также осмотр через каждые 6 месяцев после проведенного лечения.</th>
                <td>400,00р.</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <th scope="rowgroup" headers="keys" colspan="3">Хирургия</th>
            </tr>
            <tr>
                <td>2.1</td>
                <th scope="row">Консультация врача стоматолога — хирурга первичная</th>
                <td>Бесплатно</td>
            </tr>
            <tr>
                <td>2.2</td>
                <th scope="row">Прием врача стоматолога — хирурга</th>
                <td>250,00р.</td>
            </tr>
            <tr>
                <td>2.3</td>
                <th scope="row">Повторная консультация врача стоматолога — хирурга (чтение Rg, ОПТГ, КГ)</th>
                <td>450,00р.</td>
            </tr>
            <tr>
                <td>2.4</td>
                <th scope="row">Профилактический осмотр врача стоматолога — хирурга</th>
                <td>400,00р.</td>
            </tr>
            <tr>
                <td>2.5</td>
                <th scope="row">Анестезия: Articaine</th>
                <td>1 000,00р.</td>
            </tr>
            <tr>
                <td>2.6</td>
                <th scope="row">Анестезия: Scandonest (без адреналина)</th>
                <td>1 300,00р.</td>
            </tr>
        </tbody>
    </table>
</section>