.pricelist-table {
    display: block;
    border-collapse: collapse;
    overflow-x: scroll;
    min-width: calc(320px - var(--container-padding));
    th {
        padding: 5px 10px;
    }
    thead {
        tr {
            background: rgba($color: $darkblue, $alpha: 0.8);
            th {
                text-align: center;
                padding: 10px;
            }
            > th:nth-child(3) {
                min-width: 130px;
            }
        }
    }
    tbody {
        > tr:nth-child(1) {
            th {
                background: rgba($color: $darkblue, $alpha: 0.3);
                @include font(var(--big-fz), $fw: 600, $pos: center);
                padding: 15px;
                text-transform: uppercase;
            }
        }
        tr {
            td {
                text-align: center;
            }
        }
    }
}
