.phones a {
  color: var(--white);
  font-family: var(--main_font-family);
  font-size: var(--big-fz);
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
  margin: 0;
}

.phones a span {
  color: var(--red);
  font-family: var(--main_font-family);
  font-size: var(--big-fz);
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.logo_topheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo_topheader img {
  width: 300px;
}

.stomatology-laboratory_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stomatology-laboratory_services li {
  width: 100%;
}

.stomatology-laboratory_services li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

.stomatology-laboratory_services li a img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.stomatology-laboratory_services li a:hover {
  color: var(--white);
  background: var(--darkblue);
}

.appointment_to_doctor {
  padding: 15px 30px;
  color: var(--white);
  font-family: var(--main_font-family);
  font-size: var(--big-fz);
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: left;
  background: var(--darkpink);
  border-radius: var(--border-radius);
}

.appointment_to_doctor:hover {
  border-radius: calc(var(--border-radius) + 10px);
}

.link {
  color: var(--darkblue);
  text-decoration: underline;
}

.text_with_highlights_pink span {
  font-weight: 600;
  color: var(--darkpink);
}

.text_with_highlights span,
.about p span {
  font-weight: 600;
}

.two_sections_index {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1px 1fr;
  grid-template-columns: 1fr 1px 1fr;
  gap: var(--main_gap);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--section_gap);
}

.two_sections_index .line {
  background: var(--darkblue);
}

.swiper {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b4e4), to(var(--page-background)));
  background: linear-gradient(#00b4e4, var(--page-background));
  margin-bottom: 0;
  background: var(--darkblue);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--page-background)), to(var(--darkblue)));
  background: linear-gradient(var(--page-background), var(--darkblue));
}

.swiper .container {
  padding: var(--container-padding);
}

.swiper .swiper {
  width: 100%;
  margin: 0 auto;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  border-radius: var(--border-radius);
}

.swiper .swiper_body {
  position: relative;
}

.swiper .swiper_body_slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 800px;
  -webkit-transition: 3s;
  transition: 3s;
  overflow: hidden;
}

.swiper .swiper_body_slide img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}

.swiper .swiper_body_slide-info {
  position: absolute;
  top: 30px;
  left: 40px;
  max-width: 60%;
}

.swiper .swiper_body_slide-info h2 {
  font-family: var(--main_font-family);
  font-size: 60px;
  font-weight: 800;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: var(--white);
  margin-bottom: 15px;
}

.swiper .swiper_body_slide-info p {
  font-family: var(--main_font-family);
  font-size: 26px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: var(--black);
}

.swiper .swiper_body_slide a {
  position: absolute;
  bottom: 30px;
  right: 40px;
  z-index: 2;
}

.swiper .swiper_body_slide.active {
  opacity: 1;
}

.swiper .swiper_navigation {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.swiper .swiper_navigation_item {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--darkblue);
  cursor: pointer;
  -webkit-transition: 3s;
  transition: 3s;
}

.swiper .swiper_navigation_item.active,
.swiper .swiper_navigation_item:hover {
  background: var(--darkpink);
}

.swiper-section {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b4e4), to(var(--page-background)));
  background: linear-gradient(#00b4e4, var(--page-background));
  margin-bottom: 0;
  background: var(--darkblue);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--page-background)), to(var(--darkblue)));
  background: linear-gradient(var(--page-background), var(--darkblue));
}

.swiper-section .container {
  padding: var(--container-padding);
}

.index-services_services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: var(--main_gap);
     -moz-column-gap: var(--main_gap);
          column-gap: var(--main_gap);
  row-gap: calc(var(--main_gap) * 3);
}

.index-services_services_service {
  cursor: pointer;
}

.index-services_services_service:hover {
  padding: 5px;
  background: rgba(0, 180, 228, 0.4);
  -webkit-transform: translate(-10px, -10px);
      -ms-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 180, 228, 0.4);
          box-shadow: 10px 10px 10px rgba(0, 180, 228, 0.4);
}

.index-services_services_service img {
  display: block;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-services_services_service p {
  font-family: var(--main_font-family);
  font-size: var(--small-fz);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.head-physician {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50%;
  grid-template-columns: 1fr 50%;
  gap: calc(var(--main_gap) * 5);
  border-bottom: 2px solid var(--darkblue);
}

.head-physician_info span {
  font-family: Pacifico, cursive;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: left;
}

.head-physician_image img {
  display: block;
  margin-left: auto;
}

.about p a {
  font-weight: 600;
}

.about p:nth-child(2) {
  margin-bottom: 10px;
}

@media (max-width: 1920px) {
  .swiper .container {
    padding: var(--container-padding) 0 0 0;
  }

  .swiper .swiper_body_slide {
    height: calc((100vw - 320px) / (1920 - 320) * (800 - 200) + 200px);
  }

  .swiper .swiper_body_slide img {
    height: calc((100vw - 320px) / (1920 - 320) * (800 - 200) + 200px);
    border-radius: 0;
  }

  .swiper .swiper_body_slide-info h2 {
    font-size: calc((100vw - 320px) / (1920 - 320) * (60 - 22) + 22px);
  }

  .swiper .swiper_body_slide-info p {
    font-size: calc((100vw - 320px) / (1920 - 320) * (26 - 18) + 18px);
  }

  .swiper-section .container {
    padding: 0;
  }
}

@media (max-width: 1600px) {
  .index-services_services {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1280px) {
  .logo_topheader img {
    width: 235px;
  }

  .appointment_to_doctor {
    padding: 12px 16px;
  }

  .two_sections_index {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .two_sections_index .line {
    display: none;
  }

  .index-services_services {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }

  .head-physician {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .head-physician_image img {
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .index-services_services {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .index-services_services {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .index-services_services_service img {
    width: 80%;
    height: 200px;
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  .swiper .swiper_body_slide-info {
    left: 20px;
  }

  .swiper .swiper_body_slide-info h2 {
    margin-bottom: 15px;
  }

  .swiper .swiper_body_slide a {
    right: 10px;
    padding: 10px 15px;
    font-family: var(--main_font-family);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: left;
  }

  .swiper .swiper_navigation {
    bottom: 25px;
  }
}

@media (max-width: 500px) {
  .index-services_services {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .index-services_services_service img {
    height: 220px;
  }

  .head-physician_image img {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .swiper .swiper_body_slide-info {
    max-width: 80%;
  }

  .swiper .swiper_navigation {
    bottom: 10px;
  }
}