.swiper-section {
    position: relative;
    height: fit-content;
    background: linear-gradient($darkblue, var(--page-background));
    margin-bottom: 0;
    background: var(--darkblue);
    background: linear-gradient(var(--page-background), var(--darkblue));
    .container {
        padding: var(--container-padding);
        @media (max-width: 1920px) {
            padding: 0;
        }
    }
}