.head-physician {
    display: grid;
    grid-template-columns: 1fr 50%;
    gap: calc(var(--main_gap) * 5);
    border-bottom: 2px solid var(--darkblue);
    @media (max-width: 1280px) {
        grid-template-columns: 1fr;
    }
    &_info {
        span {
            @include font($ff: #{"Pacifico", cursive}, $fz: 16px);
        }
    }
    &_image {
        img {
            display: block;
            margin-left: auto;
            @media (max-width: 1280px) {
                margin: 0 auto;
            }
            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
}