.index-services {
    &_services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--main_gap);
        row-gap: calc(var(--main_gap) * 3);
        @media (max-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 500px) {
            grid-template-columns: 1fr;
        }
        &_service {
            cursor: pointer;
            &:hover {
                padding: 5px;
                background: rgba($color: $darkblue, $alpha: 0.4);
                transform: translate(-10px, -10px);
                box-shadow: 10px 10px 10px rgba($color: $darkblue, $alpha: 0.4);
            }
            img {
                display: block;
                width: 100%;
                height: 250px;
                object-fit: cover;
                @media (max-width: 768px) {
                    width: 80%;
                    height: 200px;
                    margin: 0 auto;
                }
                @media (max-width: 500px) {
                    height: 150px;
                }
            }
            p {
                @include font($fz: var(--small-fz));
            }
        }
    }
}