.two_sections_index {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    gap: var(--main_gap);
    justify-content: space-between;
    margin-bottom: var(--section_gap);
    @media (max-width: 1280px) {
        grid-template-columns: 1fr;
    }
    .line {
        background: var(--darkblue);
        @media (max-width: 1280px) {
            display: none;
        }
    }
}