.news {
    &_wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
        &_item {
            background: var(--lightgray);
            a {
                display: block;
                width: 100%;
                padding: 10px 15px;
                time {
                    @include font(14px);
                    color: var(--gray);
                }
                h3 {
                    @include font(16px);
                    color: var(--black);
                }
            }
        }
        &_item:hover {
            background: linear-gradient(var(--whitegray), var(--lightgray));
        }
    }
}
