<section class="stocks">
    <header class="h2">
        <h2>Акции</h2>
    </header>
    <h3>СТОМАТОЛОГИЯ:</h3>
    <ul class="marker">
        <li>Комплексная чистка зубов - всего <span>всего 3500 руб.</span></li>
        <li>Постановка имплантата - <span>35000 руб.</span></li>
        <li>Скидка пенсионерам - <span>15%</span></li>
    </ul>
    <h3>МЕДИЦИНСКИЕ АНАЛИЗЫ:</h3>
    <ul class="marker">
        <li>7 биохимических анализов - <span>1290 руб.</span></li>
        <li>12 показателей здоровья - <span>1320 руб.</span></li>
        <li>скидка пенсионерам - <span>15%</span></li>
    </ul>
    <!-- <p class="stocks_info">И еще много разных скидок в клинике ситилаб на улице Трифоновской дом 55
        Записаться к стоматологу можно по телефонам или WhatsApp</p>
    <div class="stocks_phones">
        @@include('../../../components/_phones.html', {})
    </div> -->
</section>