<section class="stocks">
    <header class="h2">
        <h2>Акции</h2>
    </header>
    <h3>Дорогие наши пациенты 🌸</h3>
    <p>Мы рады сообщить вам, что в клинике Ситилаб</p>
    <p>действуют следующие скидки:</p>
    <h3>СТОМАТОЛОГИЯ:</h3>
    <ul class="marker">
        <li>✅ Комплексная чистка зубов - всего 3500₽</li>
        <li>✅ Постановка имплантата - 35000₽</li>
        <li>✅ Скидка пенсионерам- 15%</li>
    </ul>
    <h3>МЕДИЦИНСКИЕ АНАЛИЗЫ:</h3>
    <ul class="marker">
        <li>✅ 7 биохимических анализов - 1290₽</li>
        <li>✅ 12 показателей здоровья- 1320₽</li>
        <li>✅ скидка пенсионерам- 15%</li>
    </ul>
    <p class="stocks_info">И еще много разных скидок в клинике ситилаб на улице Трифоновской дом 55
        Записаться к стоматологу можно по телефонам или WhatsApp</p>
    <div class="stocks_phones">
        @@include('../../../components/_phones.html', {})
    </div>
</section>