<section class="stocks_now">
    <header class="h2">
        <h2>Акции лето</h2>
    </header>
    <h3>☀️Лето продолжается! А мы приготовили для вас акции. Предложения августа:</h3>
    <ul class="marker">
        <li>Безопасная диагностика туберкулеза с кешбэком <span>20%</span>.</li>
        <li>Скидка пенсионерам <span>15%</span>.</li>
        <li><span>-23%</span> многодетным семьям на анализы по выходным.</li>
        <li>⁠<span>7</span> биохимических показателей по специальной цене.</li>
    </ul>
    <p>⚡Скидки действуют до 31.08.24, подробные условия акций представлены на сайте <a href="https://citilab.ru/discounts/">https://citilab.ru/discounts/</a></p>
    <p>📍Задать вопросы можно по тел. <a href="tel:+74955681178"><span>(495)</span> 568-11-78</a>.</p>
</section>