<section class="services">
    <header>
        <h2 class="h2">Услуги - Лаболатория</h2>
    </header>
    <ul class="services_list">
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/therapy.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Терапия</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi explicabo labore pariatur, tempore commodi sunt distinctio numquam quo temporibus eos esse hic ut sapiente ducimus quaerat nemo magni aliquam debitis?</p>
                </span>
            </a>
        </div>
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/surgery.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Хирургия</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, odit. Dolorum neque velit veniam vel sunt blanditiis et id, labore rerum nisi perspiciatis non molestias adipisci voluptatum quod optio architecto?</p>
                </span>
            </a>
        </div>
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/orthopedics.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Ортопедия</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque, cupiditate ad libero sunt quisquam unde perferendis beatae quibusdam provident consequatur necessitatibus aperiam at eius culpa quaerat. Animi debitis soluta ad?</p>
                </span>
            </a>
        </div>
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/metal_crown.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Изготовление металлокерамической коронки с опорой на имплантантах системы Miss</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea tenetur provident quisquam ut praesentium delectus minima aliquam sapiente nihil iure fuga magni commodi dolore possimus quas veritatis omnis distinctio?</p>
                </span>
            </a>
        </div>
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/metal_crown2.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Изготовление металлокерамической коронки с опорой на имплантантах системы Astra Tech</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio numquam nemo officia dicta unde temporibus vero recusandae modi nesciunt ad, assumenda, architecto consequuntur excepturi, deleniti aliquam blanditiis saepe expedita ab.</p>
                </span>
            </a>
        </div>
    </ul>
</section>