<section class="services">
    <header>
        <h2 class="h2">Услуги - Лаболатория </h2>
    </header>
    <ul class="services_list">
        <div class="services_list_service">
            <a href="../pricelist_laboratory/pricelist_laboratory.html" class="service">
                <img src="@@pagesPath/img/therapy.jpg" alt="" class="service_left">
                <div class="service_right">
                    <h3>Внутривенно- капельное ведение лекарственных средств.</h3>
                    <p><span>Внутривенное капельное введение</span> - это способ введения растворов лекарственых
                        препаратов в
                        организм через венозные сосуды с лечебной целью. <span>Лекарства</span> для внутривенных
                        вливаний назначаются
                        врачом, и проводить эту процедуру необходимо только под контролем медицинского персонала.</p>

                </div>
            </a>
            <a href="../pricelist_laboratory/pricelist_laboratory.html" class="btn">Подробнее</a>
        </div>
        <div class="services_list_service">
            <a href="../pricelist_laboratory/pricelist_laboratory.html" class="service">
                <img src="@@pagesPath/img/surgery.jpg" alt="" class="service_left">
                <div class="service_right">
                    <h3>Взятие крови из периферической вены.</h3>
                    <p>Большинство патологических процессов, с которыми человек вынужден обратиться за медицинской
                        помощью, нуждаются в лабораторной диагностике. Одним из наиболее информативных методов является
                        биохимическое исследование крови, с помощью которого можно установить диагноз и грамотно
                        скорректировать лечебно-профилактические мероприятия. Для его выполнения необходимо <span>взять
                            у
                            пациента образец биологического материала из периферической вены</span>. Проведение
                        процедуры требует
                        высокой квалификации медицинских сотрудников лабораторного центра и выполнения пациентом
                        определенных правил подготовки.</p>
                </div>
            </a>
            <a href="../pricelist_laboratory/pricelist_laboratory.html" class="btn">Подробнее</a>
        </div>
        <div class="services_list_service">
            <a href="../pricelist_laboratory/pricelist_laboratory.html" class="service">
                <img src="@@pagesPath/img/orthopedics.jpg" alt="" class="service_left">
                <div class="service_right">
                    <h3>Плазмолифтинг</h3>
                    <p>Красивая улыбка преображает внешность и располагает к себе. Помимо этого, она служит показателем
                        общего здоровья. Не только лечение зубов позволяет поддерживать состояние ротовой полости в
                        норме. Необходимо также следить за здоровьем дёсен. Не все понимают важность подобных
                        мероприятий. Для восстановления здоровья дёсен и зубов существует много современных методик.
                        Одна из самых эффективных и популярных — плазмолифтинг. Для этого необходимо сделать забор
                        крови.</p>
                </div>
            </a>
            <a href="../pricelist_laboratory/pricelist_laboratory.html" class="btn">Подробнее</a>
        </div>
    </ul>
</section>