<section class="services">
    <header>
        <h2 class="h2">Услуги - Стоматология</h2>
    </header>
    <ul class="services_list">
        <div class="services_list_service">
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="service">
                <img src="@@pagesPath/img/therapy.jpg" alt="" class="service_left">
                <div class="service_right">
                    <h3>Терапия</h3>
                    <p><span>Главная цель терапевтической стоматологии –</span> лечение зубов, предотвращение их
                        разрушения, сохранение целостности и исключение вредного воздействия с распространением инфекции
                        по всему организму. В задачи врача входит не только ликвидация очага заболевания, но и
                        реставрация поврежденных тканей. Для пломбирования используются качественные современные
                        материалы, помогающие не только восстановить целостность, но и вернуть зубам красивый вид.</p>

                </div>
            </a>
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="btn">Подробнее</a>
        </div>
        <div class="services_list_service">
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="service">
                <img src="@@pagesPath/img/surgery.jpg" alt="" class="service_left">
                <div class="service_right">
                    <h3>Хирургия</h3>
                    <p><span>Хирургическая стоматология подразумевает выполнение разных операций:</span> зубосохраняющие
                        резекция верхушки корня, удаление зубов любой сложности удаление кист, пародонтологические -
                        лоскутные, с использованием костнопластических материалов, подготовка к имплантации и установка
                        имплантов, лечение острых воспалительных процессов.</p>
                </div>
            </a>
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="btn">Подробнее</a>
        </div>
        <div class="services_list_service">
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="service">
                <img src="@@pagesPath/img/orthopedics.jpg" alt="" class="service_left">
                <div class="service_right">
                    <h3>Ортопедия</h3>
                    <p>Зубы неспособны к самовосстановлению, поэтому при потере одного или нескольких из них нужно как
                        можно скорее обратиться к специалисту. Ортопедическая стоматология предлагает разные методы,
                        направленные как на возвращение функциональности, так и на улучшение эстетического вида зубного
                        ряда. Услуги могут быть разными, начиная от установки вкладок и заканчивая протезированием. В
                        зависимости от сложности работы различаются и цены: с полным прайсом вы можете ознакомиться.</p>
                </div>
            </a>
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="btn">Подробнее</a>
        </div>
        <div class="services_list_service">
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="service">
                <img src="@@pagesPath/img/metal_crown.jpg" alt="" class="service_left">
                <div class="service_right">
                    <h3>Изготовление металлокерамической коронки с опорой на имплантантах системы Miss</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, ea tenetur provident
                        quisquam ut praesentium delectus minima aliquam sapiente nihil iure fuga magni commodi dolore
                        possimus quas veritatis omnis distinctio?</p>
                </div>
            </a>
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="btn">Подробнее</a>
        </div>
        <div class="services_list_service">
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="service">
                <img src="@@pagesPath/img/metal_crown2.jpg" alt="" class="service_left">
                <div class="service_right">
                    <h3>Изготовление металлокерамической коронки с опорой на имплантантах системы Astra Tech</h3>
                    <p>Отсутствие одного или нескольких зубов – серьезная проблема, которая влияет не только на красоту
                        улыбки, но и на функциональность челюсти. Чтобы избежать негативных последствий в виде
                        заболеваний десен, искривления прикуса и изменения формы лица, стоит обратиться к специалисту
                        как можно скорее. <span>Имплантацию можно проводить в следующих случаях:</span> Отсутствие одного или
                        нескольких зубов, в том числе идущих подряд, полная адентия челюсти, отсутствие крайних зубов в
                        ряду.</p>
                </div>
            </a>
            <a href="../pricelist_dentistry/pricelist_dentistry.html" class="btn">Подробнее</a>
        </div>
    </ul>
</section>