<section class="services">
    <ul class="services_list">
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/therapy.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Терапия</h3>
                    <p>Описание</p>
                </span>
            </a>
        </div>
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/surgery.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Хирургия</h3>
                    <p>Описание</p>
                </span>
            </a>
        </div>
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/orthopedics.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Ортопедия</h3>
                    <p>Описание</p>
                </span>
            </a>
        </div>
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/metal_crown.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Изготовление металлокерамической коронки с опорой на имплантантах системы Miss</h3>
                    <p>Описание</p>
                </span>
            </a>
        </div>
        <div class="services_list_service">
            <a href="" class="service">
                <img src="@@pagesPath/img/metal_crown2.jpg" alt="" class="service_left">
                <span class="service_right">
                    <h3>Изготовление металлокерамической коронки с опорой на имплантантах системы Astra Tech</h3>
                    <p>Описание</p>
                </span>
            </a>
        </div>
    </ul>
</section>