<section class="reviews">
    <header class="h2">
        <h2>Отзывы</h2>
    </header>
    <div class="reviews_list">
        @@include('_comment.html', {
            "name": "Владимир Байков",
            "text": "Эта стоматологическая клиника отличается профессиональным коллективом, который точно знает свою работу. Приходя сюда, будешь точно уверен, что тебе окажут самый лучший и качественный приём. Всегда найдут подход к каждому клиенту, выбрать удобное для вас время и будьте уверены вам обязательно напомнят про вашу запись. По мимо высокого профессионализма это и очень хороший коллектив. Всегда создают хорошую и позитивную атмосферу, особенно если кто то боится лечить зубы. Уверяю здесь ваше лечение или даже простой осмотр оставит хорошее впечатление Отдельно хотел бы выделить Елену Александровну Это не только замечательный мастер своего дела, но и просто хороший, добрый и позитивный человек который всегда вам поможет"
        })
        @@include('_comment.html', {
            "name": "Ольга Ольга",
            "text": "В далеком 2010 мне Наталья Евгеньевна занесла инфекцию и раздуло щеку так, что пришлось переделывать в другой клинике. 2 года назад Анна Николаевна лечила зубы, мне она показалась агрессивной какой-то. Так же есть недочеты в ее лечении. Я в эту клинику не обращусь больше никогда"
        })
    </div>
</section>