<section class="partners">
    <header class="h2">
        <h2>Дента лайн</h2>
    </header>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia odio eligendi ratione, totam consequuntur sit veritatis deleniti, ipsam natus voluptatum animi similique ad consequatur at. Dicta nemo ducimus assumenda totam.</p>
    <div class="partners_sw2">
        @@include('../@@pagesPath/html/components/swiper_one_slide/_swiper_one_slide.html', {
            "images": "[{'url': '@@pagesPath/img/index_sw1.jpg'},{'url': '@@pagesPath/img/index_sw2.jpg'},{'url': '@@pagesPath/img/index_sw3.jpg'}]",
            "title": "hi",
            "class": "partners_sw2_swiper"
        })
    </div>
</section>