<section class="partners">
    <header class="h2">
        <h2>Партнёры</h2>
    </header>
    <p>В основе работе нашей клиники лежит в стремлении предоставить и оказать нашим пациентам на высоком профессиональном уровне.</p>
    <p>Одно из направлений нашей клиники партнерское сотрудничество с фирмой СИТИЛАБ – МЕЖДУНАРОДНАЯ СЕТЬ КЛИНИКО-ДИАГНОСТИЧЕСКИХ ИСЛЕДОВАНИЙ.</p>
    <p>Сеть начала свою работу в 2005 году. Сегодня в каждом филиале сети проводят более 1000 наименований различных исследований. Все лаборатории «Ситилаб» оснащены
        стандартизированным парком анализаторов последнего поколения, выпущенных мировыми
        лидерами в лабораторном приборостроении. В центрах обследования пациентов применяются
        только одноразовые вакуумные системы Vacutainer (производства США).</p>
    <p>Это уникальная большая команда профессионалов помогает пациентом нашей клиники заботливо
        относиться к себе и своим близким, повышая качество и профессионализм своей жизни точностью
        и широким спектром анализов.</p>
    <div class="partners_sw1">
        @@include('../@@pagesPath/html/components/swiper_one_slide/_swiper_one_slide.html', {
            "images": "[{'url': '@@pagesPath/img/index_sw1.jpg'},{'url': '@@pagesPath/img/index_sw2.jpg'},{'url': '@@pagesPath/img/index_sw3.jpg'}]",
            "title": "hi",
            "class": "partners_sw1_swiper"
        })
    </div>
</section>