<section class="partners">
    <header class="h2">
        <h2>Партнёры</h2>
    </header>
    <div class="partners_list">
        <div class="partners_list_partner">
            <div class="partners_list_partner-left">
                <img src="@@pagesPath/img/sity_logo.png" alt="">
            </div>
            <div class="partners_list_partner-right">
                <h3>Имя партнёра</h3>
                <p>Описание Партнёра</p>
            </div>
        </div>
        <div class="partners_list_partner">
            <div class="partners_list_partner-left">
                <img src="@@pagesPath/img/sity_logo.png" alt="">
            </div>
            <div class="partners_list_partner-right">
                <h3>Имя партнёра</h3>
                <p>Описание Партнёра</p>
            </div>
        </div>
    </div>
</section>
